.categories-navbar {
    background-color: #d3faff;
    padding: 1rem;
    margin-top: 0;
    height: 40px;
    border-bottom: 2px solid #3b424d; 
    box-shadow: 0 4px 10px rgba(249, 243, 243, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .categories-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    max-width: 72rem;
    width: 100%;
  }