* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: rgb(74, 200, 235);
  height: 80px;
  display: flex;
  align-items: center;
  color: white;
}

#title {
  margin-left: 20px;
  min-width: 150px;
}

.searchField {
  height: 50px;
  border-radius: 10px;
  margin-left: 150px;
  border: none;
  width: 500px;
  padding: 8px 40px 8px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
  color: black;
}

.search-container {
  position: relative;
  display: inline-flex;
  margin-right: 200px;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  height: 30px;
  width: 20px;
  pointer-events: none;
}

.cart-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 50px; 
}

.cart-text {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #077A7D;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  white-space: nowrap;
}

.cart-wrapper:hover .cart-text {
  display: block;
}

.user-wrapper {
  position: relative;
  display: inline-block;
}

.login-text {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #077A7D;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  white-space: nowrap;
}

.user-wrapper:hover .login-text {
  display: block;
}
.about-wrapper {
  position: relative;
  display: inline-block;
}

.about-text {
  display: none;
  position: absolute;
  top: 30px;
  left: -10px;
  background-color: #077A7D;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.about-wrapper:hover .about-text {
  display: block;
}