*{
  margin: 0;
  padding: 0;
}
#signInForm {
  margin-left: 30%;
  margin-top: 3%;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 36%;
  border-radius: 20px;
  background-color: #4c71a5;
}
textarea {
  resize: none;
  width: 80%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}
.popup {
  position: fixed;
  top: 30%;
  left: 35%;
  padding: 2rem;
  background-color: white;
  border: 2px solid #888;
  box-shadow: 0 0 10px gray;
  z-index: 999;
  height: 300px;
  width: 23%;
  border-radius: 15px;
}
#pop {
  align-self: center;
  background-color: aqua;
  margin-left: 16%;
}
.cross-icon {
  color: red;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 10px;
}
.bg {
  width: 40%;
  position: absolute;
  height: 400px;
}
.inputs,
select.inputs {
  margin: 10px;
  height: 35px;
  border-radius: 5px;
  width: 270px;
  border: 1px solid #ccc;
  margin-left: 7%;
  padding: 0 10px;
  font-family: inherit;
  background-color: white;
  box-sizing: border-box;
}
.btn {
  background-color: #06202B;
  color: white;
}
.popup-text{
  font-size: 18px;
  text-align: center;
  color: #06202B;
  font-weight: 500;
}
.SigUpTittle{
  color: white;
  font-size: 28px;
  align-self: center;
}
.popup {
  position: relative;
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.cross-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#signInForm {
  position: relative; /* So the cross icon can position inside it */
  padding-top: 30px;   /* To not overlap with close icon */
}
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black 
  z-index: 998;e less than popup 
} */