@import "tailwindcss";

body{
  background-image: url(".../assets/pic6.avif");
  background-size: cover;
}
.login-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; 
}

.login-popup-content {
  padding: 20px;
  border-radius: 8px;
  width: 1150px;
  max-width: 100%;
  position: relative;
  z-index: 1000;
  border-radius: 12px;
}
